<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <header>
            <nav>
                <a href="{{ url('homepage') }}"> <i class="ri-home-2-line"></i> Accueil</a>
                <a href="{{ url('book') }}"> <i class="ri-book-line"></i> Listes de livres</a>
                <a href="{{ url('contact') }}"> <i class="ri-contacts-line"></i> Contact</a>
                <a href="{{ url('faq') }}"> <i class="ri-question-answer-line"></i> FAQ</a>
            </nav>
        </header>

        <main>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
        
    </body>
</html>
